@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: "Lato",sans-serif;
    overflow-x: hidden;
}
#menu{
    background-color: black;
    font-family: "Lato",sans-serif;
}
#menu button{
    font-size: 20px;
    font-weight: bold;
}
#menu a{
    font-size: 20px;
    font-weight: bold;
    color: white
}
.carousel-inner{
    padding: 1% 5%;
    max-height: 39rem;
}
.container{
    background-color: black;
    padding: 1rem 5rem;
    margin: 1rem;
}
.container h5{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p{
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 2%;
}
.item{
    border-radius: 20px;
}
.item:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.40);
}

.item img{
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}
.item figure{
    overflow: hidden;
}
.item:hover img{
    transform: scale(1.05);
}
.info-product h2{
    padding: 5px 30px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.VerMas{
    display: flex;
    align-items:center;
    justify-content: center;
}
footer{
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family:  "Lato",sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: yellow;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
