@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  font-family: "Lato", sans-serif;
}
/* Nadvar */
#menu {
  background-color: black;
  font-family: "Lato", sans-serif;
}

#menu button {
  font-size: 20px;
  font-weight: bold;
}

#menu a {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.carousel-inner {
  padding: 1% 2%;
  max-height: 39rem;
}
.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity .5s ease;
}

.carousel-item:hover .overlay {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: white;
  text-align: center;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  text-align: center;
  z-index: 1;
  display: none;
}

.carousel-caption h3 {
  font-size: 1.5rem;
  font-weight: 1rem;
  margin-bottom: 1rem;
}

.carousel-caption p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.overlay:hover .carousel-caption {
  display: block;
}

/* Caja Negra */
.container{
  background-color: black;
  padding: 2% 5%;
  margin: 1%;
}

.container h5 {
  color: white;
  font-size: 100%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  color: white;
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Suplementos */
#suplementos img{
  max-width: 100%;
  height: 300px;
  transition: 0.5s;
}
#suplementos img:hover{
  transform: scale(1.05);
}
#boton{
  display: block;
  
}
#suples img{
  max-width: 100%;
  height: 90%;
}
.card-title{
  font-size: 20px;
  font-weight: bold;
}
/* Fotter */
.footer-distributed{
  background: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #ffdf2b;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #ffdf2b;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}
/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
@media (max-width: 767px) {
  .carousel-caption {
    position: relative;
    background-color: transparent;
    padding: 0;
  }
}
/*# sourceMappingURL=estilos.css.map */
