

@import url('https://fonts .goog1leapis.com/css2?family=Montserrat&display=Swap');
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
#menu{
    background-color: black;
}
#menu button{
    font-size: 18px;
    font-weight: bold;
}
#menu a{
    font-size: 18px;
    font-weight: bold;
    color: white
}
.carousel-inner{
    padding: 1rem 5rem;
    max-height: 39rem;
}
.container{
    background-color: black;
    margin: 1rem;
    padding: 1rem;
}
.col h5{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col p{
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}